{{ define "main" }}
    {{ range .Paginator.Pages }}
    <article class="list">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>{{ .Summary | plainify }}</p>
        <div class="post-meta">
            {{ $date := dateFormat "2006-01-02" .Lastmod }}
            <time datetime="{{ $date }}">{{ $date }}</time>
            {{ with .Params.tags }}{{ range . }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}
        </div>
    </article>
    {{ end }}
    
    <div class="paginator">
        <span>
            {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">Prev</a>
            {{ end }}
        </span>
        <span>{{ .Paginator.PageNumber }}</span>
        <span>
            {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">Next</a>
            {{ end }}
        </span>
    </div>
{{ end }}
