{{ define "styles" }}
<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    main ul > li {
        padding: 1rem;
        font-size: 1.5rem;
    }
    main ul > li > sup {
        margin: 0;
        font-size: 1rem;
        border-radius: 1rem;
    }
    .tag {
        padding: 0 0 0 1.5rem;
        position: relative;
    }
    .tag::before {
        left: -2px;
        top: 8px;
        width: 1.5rem;
        height: 1.5rem;
    }
</style>
{{ end }}

{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "header" }}
    {{ partial "nav.html" . }}
    <h1>{{ .Title }}</h1>
{{ end }}

{{ define "main" }}

<ul>
    {{ range $key, $value := .Data.Terms.ByCount }}
    <li><a href="/tags/{{ $value.Name }}" class="tag">{{ $value.Name }}</a> <sup>{{ $value.Count }}</sup></li>
    {{ end }}
</ul>

{{ end }}