<!DOCTYPE html>
<html lang="ja">
<head>
{{ partial "head" . }}
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="container mx-auto" style="background-color:#f5f5f5;">
<header>
    {{ partial "nav.html" .}}
</header>
<section>
    <main>
        <h2 class="flex justify-center px-4 text-6xl font-bold">404</h1>
        <p class="flex justify-center text-2xl">Page Not Found</p>
    </main>
</section>
<footer>
{{ block "footer" . }}
    {{ partial "footer.html" . }}
{{ end }}
</footer>
</body>
</html>